@using Etammen.ViewModels

@model IEnumerable<AppointmentViewModel>

@{
    ViewData["Title"] = "AppointmentIndex";
    int id = ViewBag.doctorId;
}

<h1 style="display:inline-block">Your Appointments</h1>
<a style="display:inline-block;margin-left:450px" asp-controller="Doctors" asp-action="homeVisitAppointmentsIndex" asp-route-id="@id" class="appointment-btn scrollto"><span class="d-none d-md-inline"></span> Your Home Appointment Requests</a>
@if (TempData["AttendedMessage"] is not null)
{
    <div class="alert alert-success alert-dismissible" style="margin-top:50px" id="alertMessage">
        <strong>Info!</strong> @TempData["AttendedMessage"]
        <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close" onclick="dismissAlert()">
        </button>
    </div>
}@if (TempData["AcceptedMessage"] is not null)
{
    <div class="alert alert-success alert-dismissible" style="margin-top:50px" id="alertMessage">
        <strong>Info!</strong> @TempData["AcceptedMessage"]
        <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close" onclick="dismissAlert()">
        </button>
    </div>
}@if (TempData["MessageWasSent"] is not null)
{
    <div class="alert alert-success alert-dismissible" style="margin-top:50px" id="alertMessage">
        <strong>Info!</strong> @TempData["MessageWasSent"]
        <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close" onclick="dismissAlert()">
        </button>
    </div>
}
@if (Model.Count() > 0)
{
    <table class="table table-hover table table-striped">

        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Patient)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Clinic)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReservationPeriodNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsAccepted)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsAttended)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsPaidOnline)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <input type="hidden" asp-for="@item.Id" />
                    <td>
                        @Html.DisplayFor(modelItem => item.Patient.ApplicationUser.FirstName) @Html.DisplayFor(model => item.Patient.ApplicationUser.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Clinic.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReservationPeriodNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsAccepted)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsAttended)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsPaidOnline)
                    </td>
                    <td>
                        @{
                            if (item.IsAccepted == false&&item.IsAttended == false)
                            {
                                <a asp-action="AcceptAppointment" asp-route-id="@item.Id" asp-route-ReservationPeriodNumber="@item.ReservationPeriodNumber" class="btn btn-outline-success">Accept</a>
                            }
                        }
                    </td>
                    <td>
                        @{
                            if (item.IsAttended == false)
                            {
                                <a asp-action="AttenededAppointment" asp-route-id="@item.Id" asp-route-ReservationPeriodNumber="@item.ReservationPeriodNumber" class="btn btn-outline-success">Attended</a>
                            }
                        }
                    </td>
                    <td>
                        @{
                            if (item.IsAttended == true && item.IsAccepted == true)
                            {

                            }
                            else if (item.IsAttended == true)
                            {
                                
                            }
                            else
                            {
                                <a asp-action="CancelAppointment" asp-route-id="@item.Id" asp-route-ReservationPeriodNumber="@item.ReservationPeriodNumber" class="btn btn-outline-danger">Cancel</a>
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-info alert-dismissible d-flex align-items-center fade show">
        <i class="bi-info-circle-fill"></i>
        <strong class="mx-2">You have no appointments</strong>
    </div>
}
<script>
    function dismissAlert() {
        var alert = document.getElementById('alertMessage');
        alert.style.display = 'none';
    }
</script>