@model GetOneClinicViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Dashboard/_AdminDashboard.cshtml";
}

<h1>Details</h1>

<div class="card shadow">
    <div class="card-body">
        <h2 class="card-title">@Model.Name</h2>
        <p class="card-text">Doctor: @Model.DoctorFirstName @Model.DoctorLastName</p>
        <p class="card-text">Doctor ID: @Model.DoctorId</p>
        <p class="card-text">Address: @Model.Address.City, @Model.Address.StreetAddress, @Model.Address.governorate</p>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <p class="card-text"><strong>Closed at:</strong> @Model.ClosingHour</p>
                <p class="card-text"><strong>Days:</strong> @Model.OpeningDays per week</p>
            </div>
            <div class="col-md-6">
                <p class="card-text"><strong>Fees:</strong> $@Model.Fees</p>
                <div class="text-md-end">
                    <a asp-action="Index" class="btn btn-primary">Back to list</a>
                </div>
            </div>
        </div>
    </div>
</div>


