@model BookViewModel
@inject BusinessLogicLayer.Interfaces.IUnitOfWork _unitOfWork
@inject DataAccessLayerEF.Context.EtammenDbContext _dbContext

@{
    string[] includes = { "Clinics", "DoctorReviews", "ApplicationUser" };
    ViewData["Title"] = Model.ClinicName + "-" + "Booking";
    int id = Model.Id;
    var doctors = await _unitOfWork.Doctors.FindBy(d => d.Id == Model.DoctorId, includes);
    var fullName = $"{doctors.ApplicationUser.FirstName} {doctors.ApplicationUser.LastName}";

    var openingDaysValues = Enum.GetValues(typeof(OpeningDays)).Cast<OpeningDays>();
}

<form asp-action="BookConfirmed" asp-controller="Patient" method="post">

    <div class="row">
        <div class="col-12">
            <div class="doctor-card d-flex" style="height: fit-content;">
                <div class="doctor-card__image">
                    <img src="https://cdn-dr-images.vezeeta.com/Assets/Images/SelfServiceDoctors/ENT5bcb09ffafde1f6f/Profile/150/abdellatif--hamouda-internal-medicine_20220928163418459.jpg" alt="Dr. Abdellatif Hamouda">
                </div>
                <div class="doctor-card__details flex-fill">
                    <h2 class="doctor-card__name">Dr. @fullName</h2>
                    <p class="doctor-card__description">Experience Years: @Model.Doctor.YearsOfExperience years</p>
                    <div class="doctor-card__specialties">

                        <div>
                            <h3 class="specialty-title">Specializations :</h3>
                            <p>@Model.Doctor.Degree in @Model.Doctor.Speciality</p>
                        </div>
                        <div class="specialty-list">
                            @{
                                int patientId = ViewBag.patientID;
                            }
                            <label asp-for="ISHomeVisit" id="doctorvisithomelabel">Doctor Can Visit Home</label>
                            <input asp-for="ISHomeVisit" value="@Model.ISHomeVisit" disabled id="doctorvisithome"/>
                            <input type="hidden" asp-for="patientId" value="@patientId" />
                            <input type="hidden" asp-for="Date" value="@DateOnly.FromDateTime(DateTime.Now)" />
                            <input type="hidden" asp-for="IsAttended" value="@false" />
                            <input type="hidden" asp-for="DoctorId" value="@Model.DoctorId" />
                            <input type="hidden" asp-for="ClinicId" value="@Model.Clinic.Id" id="ClinicId" />
                            <input type="hidden" asp-for="ClinicName" value="@Model.Clinic.Name" />
                            <input type="hidden" asp-for="ISHomeAppointmentDeleted" value="@Model.ISHomeAppointmentDeleted" />
                        </div>
                        <div class="specialty-list">
                            <div id="homeVisitFeesSection">
                                <label asp-for="HomeVisitFees">Home Visit Fees</label>
                                <label asp-for="HomeVisitFees">@String.Format("{0:N0}", @Model.HomeVisitFees)$</label>
                            </div>
                            <div id="homeRequestSection">
                                <label asp-for="ISHomeVisit">Request Appointment At Home: </label>
                                <input type="checkbox" asp-for="ISHomeVisit"  id="homeVisit" />
                            </div>
                            <div>
                                <hr />
                                <div class="checkbox" id="clinicnameandfees" >
                                    <div>
                                        <h4 style="display:inline">Clinic Name:</h4>
                                        <Label asp-for="ClinicId"> @Model.Clinic.Name</label>  
                                    </div>
                                    <div>
                                        <label asp-for="ClinicFees"><strong>Clinic Fees:</strong> @String.Format("{0:N0}", @Model.Clinic.Fees)$</label>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div>
                                <div>
                                    <label asp-for="IsPaidOnline"></label>
                                    <input asp-for="IsPaidOnline">
                                </div>
                                <label id="reservationPhrase">Reservation times available for bookings today (@DateOnly.FromDateTime(DateTime.Now)) at the clinic :</label>

                                @{
                                    int index = 0;
                                }
                                <div id="reservationDiv">
                                    @{
                                        for (int i = 0; i <= (int)ViewData[$"{Model.ClinicName}"]; i++)
                                        {
                                            TimeSpan openingHour = Model.Clinic.OpeningHour.ToTimeSpan();
                                            TimeSpan closingHour = Model.Clinic.ClosingHour.ToTimeSpan();
                                            TimeSpan examinationDuration = Model.Clinic.ExmainationDuration.ToTimeSpan(); 

                                            TimeSpan appointmentTime = openingHour + TimeSpan.FromMinutes(i * examinationDuration.TotalMinutes); 
                                            DateTime appointmentDateTime = DateTime.Today.Add(appointmentTime);

                                            TimeOnly appointmentSlot = TimeOnly.FromDateTime(appointmentDateTime);

                                            var clinicId = Model.Clinic.Id;
                                            List<TimeOnly?> list = Model.ClinicAppointmentDictionary[clinicId];

                                            var isAppointmentSlotTaken = list.Contains(appointmentSlot);


                                            <div class="checkbox reservation-slot clinic-@(Model.Clinic.Id)" id="reservation">
                                                <label>
                                                    @if (isAppointmentSlotTaken)
                                                {
                                                        <input type="radio" asp-for="ReservtionPeriodNumber" value="@appointmentSlot" disabled />
                                                }
                                                else
                                                {
                                                        <input type="radio" asp-for="ReservtionPeriodNumber" value="@appointmentSlot" />
                                                }
                                                    <span id="ReservationPeriod">@appointmentSlot</span>
                                                </label>
                                            </div>
                                    }
                                    index++;
                                }
                                <span asp-validation-for="@Model.ReservtionPeriodNumber" class="text-danger" ></span>
                                </div>
                            </div>

                            <div>
                                <input type="submit" value="Book" class="btn btn-outline-primary float-right" id="bookButton">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</form>
<script>
    
    document.addEventListener("DOMContentLoaded", function () {
        // Add event listener to home visit checkbox
        var homeVisit = document.getElementById("homeVisit");
        homeVisit.addEventListener("change", function () {
            // Toggle visibility of clinic checkboxes and reservation slots
            var isChecked = !homeVisit.checked;
            // clinicCheckboxes.forEach(function (checkbox) {
            //     checkbox.closest('.checkbox').style.display = isChecked ? 'block' : 'none';
            // });
            var reservationSlots = document.querySelectorAll('.reservation-slot');
            reservationSlots.forEach(function (slot) {
                slot.style.display = isChecked ? 'block' : 'none';
            });

            // Update reservation phrase
            var reservationPhrase = document.getElementById("reservationPhrase");
            reservationPhrase.textContent = isChecked ? 'Reservation Time available for bookings today at the clinic' : 'Requesting Home Appointment';

            
            var clinicidValue = document.getElementById('ClinicId');
            clinicidValue.value = isChecked ? "@Model.Clinic.Id" : "";

            var clinicnameandfees = document.getElementById('clinicnameandfees');
            clinicnameandfees.style.display = isChecked ? 'block' :'none';

            var homeVisitFeesSection = document.getElementById('homeVisitFeesSection');
            homeVisitFeesSection.style.display = isChecked ? 'block' :'none';

            // Reset reservation period and clinic ID when home visit is unchecked
            if (isChecked) {
                var reservationPeriod = document.getElementById("ReservationPeriod");
                reservationPeriod.value = "";

                var clinicId = document.querySelector('input[name="ClinicId"]:checked');
                if (clinicId) {
                    clinicId.checked = false;
                }
            }
        });

        // Get the selected clinic ID and retrieve its corresponding name and fees
        var doctorvisithomeinput = document.getElementById('doctorvisithome');
        var doctorvisithomelabel = document.getElementById('doctorvisithomelabel');
        var homeRequestSection = document.getElementById('homeRequestSection');
        var reservationDiv = document.getElementById('reservationDiv');
        var reservationPhrase = document.getElementById('reservationPhrase');
        

        if (!doctorvisithomeinput.checked) {
            doctorvisithomelabel.textContent = "Doctor is not taking home visit requests";
            doctorvisithomelabel.style.color = "red";
            homeRequestSection.style.display = 'none';
            doctorvisithomeinput.style.display = 'none';
            
            homeVisitFeesSection.style.display = 'none';
            // doctorvisithomeinput.style.display = 'none';
            // reservationDiv.style.display = 'none';
            // reservationPhrase.style.display = 'none';
           
        }
      
        // Initially show/hide clinic checkboxes and reservation slots based on home visit checkbox state
        var isChecked = homeVisit.checked;
        clinicCheckboxes.forEach(function (checkbox) {
            checkbox.closest('.checkbox').style.display = isChecked ? 'block' : 'none';
        });
        var reservationSlots = document.querySelectorAll('.reservation-slot');
        reservationSlots.forEach(function (slot) {
            slot.style.display = 'block';
        });
    });
</script>

