@using DataAccessLayerEF.Enums
@using Etammen.ViewModels
@model ClinicDetailsMapViewModel
@{
    ViewData["Title"] = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/leaflet/leaflet.css" rel="stylesheet" />
<link href="~/leaflet/leaflet.min.css" rel="stylesheet" />

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<style>
    .card {
        margin-bottom: 20px;
    }

    #map {
        margin-top: 20px;
        margin-bottom: 20px;
    }
</style>


<div class="container">
    <h1>Clinic Details</h1>
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">@Model.Name</h2>
            <p class="card-text mb-2">Doctor: @Model.DoctorFirstName @Model.DoctorLastName</p>
            <p class="card-text mb-3">Address: @Model.Address.governorate @Model.Address.City, @Model.Address.StreetAddress</p>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <p class="card-text"><strong>Opening Hours:</strong> @Model.OpeningHour - @Model.ClosingHour</p>
                    <div class="form-group">
                        <label asp-for="OpeningDays" class="control-label">Opening Days</label>
                        <div>
                            @{
                                var checkedDays = Enum.GetValues(typeof(OpeningDays)).Cast<OpeningDays>().Where(day => Model.OpeningDays.HasFlag(day));
                            }
                            @foreach (var day in checkedDays)
                            {
                                <div>
                                    <label>
                                        <input type="checkbox" name="OpeningDays" value="@day" checked disabled /> @day
                                    </label>
                                </div>
                            }
                        </div>
                        <span asp-validation-for="OpeningDays" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <p class="card-text"><strong>Fees:</strong> $@Model.Fees</p>

                    <div class="text-md-end">
                        <a asp-action="Book" asp-controller="Patient" asp-route-id="@Model.Id" asp-route-doctorId="@Model.DoctorId" class="btn btn-primary">Book Appointment</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<script src="https://unpkg.com/leaflet"></script>
<script src="https://unpkg.com/leaflet-control-geocoder"></script>

<div id="map" style="height: 200px;">
</div>

<div id="Error" style="display: none; color: red; background-color: white; border: 1px solid #dc3545; padding: 10px; border-radius: 5px; margin-bottom: 10px; text-align:center">
    <i class="fas fa-exclamation-circle" style="color: red;"></i> <!-- Assuming you're using Font Awesome for icons -->
    <span style="margin-left: 10px; color: red;">Sorry, we couldn't find the clinic's location. Please check the address and try again.</span>
</div>

<script>
    var map = L.map('map').setView([26.8206, 30.8025], 10);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);


    var address = "@Model.Address.governorate, @Model.Address.City, @Model.Address.StreetAddress"; // Your address here


    // Initialize the geocoder
    var geocoder = L.Control.Geocoder.nominatim();

    // Use geocoder to get coordinates for the address
    geocoder.geocode(address, function (results) {
        if (results.length > 0) {
            var latLng = results[0].center;

            L.marker(latLng).addTo(map)
                .bindPopup(address)
                .openPopup();
        } else {
            document.getElementById("Error").style.display = "block";
            document.getElementById("map").style.display = "none";
        }
    });
</script>


