@model Etammen.ViewModels.JSONMainViewModelHolder
@using System.Text.Json;

@{
    var myModel = JsonSerializer.Deserialize<MainViewModel>(Model.JSONdata);
    SelectList Cities = new SelectList(myModel.City_areaDict.Keys);
    SelectList specialitiesSL = new SelectList(myModel.Specialties);
    var dict = @myModel.City_areaDict;
}

<form asp-action="Index" onsubmit="updateAndSubmit(event)">
    <input type="hidden" name="JSONdata" />
    <select asp-items="specialitiesSL" class="form-select" name="specialty"></select>
    <label>City</label>
    <select asp-items="Cities" id="cityselectlist" class="form-select" name="city"></select>
    <label>Area</label>
    <select id="areaselectlist" class="form-select" name="area">
        <option value="ALL">ALL</option>
    </select>
    <label>Doctor Name</label>
    <br />
    <input type="text" value="" placeholder="EX: Ahmed Mostafa" name="doctorName" class="form-text" />
    <br />
    <label>Clinic Name</label>
    <br />
    <input type="text" value="" placeholder="EX: ElAml" name="clinicName" class="form-text" />
    <br />
    <input id="submit" type="submit" value="submit" class="btn btn-primary" />
</form>

@section Scripts {
    <script>
        let City_Area = {};
        let myModel = @Html.Raw(Json.Serialize(myModel));
        @foreach (var pair in myModel.City_areaDict)
        {
            <text>
                City_Area["@pair.Key"]=[];
            </text>
            @foreach (var area in pair.Value)
            {
                <text>
                    City_Area["@pair.Key"].push("@area");
                </text>
            }
        }

            function updateAndSubmit(event) {
                
                myModel.Specialty = document.querySelector("[name=specialty]").value;
                myModel.City = document.querySelector("[name=city]").value;
                myModel.Area = document.querySelector("[name=area]").value;
                myModel.DoctorName = document.querySelector("[name=doctorName]").value;
                myModel.ClinicName = document.querySelector("[name=clinicName]").value;

                let json = JSON.stringify(myModel);

                document.querySelector("[name=JSONdata]").value = json;

                document.getElementById(formId).submit();
            }
            document.getElementById("cityselectlist").addEventListener("change", function () {
            let areaSelect = document.getElementById("areaselectlist");
            areaSelect.innerHTML = '';
            let selectedIndex = this.selectedIndex;
            let selectedValue = this.options[selectedIndex].value;
            let areas = City_Area[selectedValue];
            for (let area of areas) {
                let newOption = document.createElement("option");
                newOption.value = area;
                newOption.text = area;
                areaSelect.appendChild(newOption);
            }
        });
    </script>
}